.DS_Store
upload/system/68kb/cache/*
!upload/system/68kb/cache/index.html
upload/uploads/*
!upload/uploads/index.html
upload/system/codeigniter/system/logs/*
!upload/system/codeigniter/system/logs/index.html
/*.buildpath
/*.project
