.DS_Store
upload/includes/68kb/cache/*
!upload/includes/68kb/cache/index.html
upload/uploads/*
!upload/uploads/index.html
upload/includes/system/logs/*
!upload/includes/system/logs/index.html
/*.buildpath
/*.project
