@import url("960/reset.css");
@import url("960/text.css");
@import url("960/960.css");

body {
	font:12px/1.5 "Lucida Grande",Helvetica,Arial,sans-serif;
	padding-top: 15px;
}
a {
	color:#00597F;
	text-decoration:none;
}
a:hover {
	color: #333;
	text-decoration:underline;
}

#logo {
	background:url("../images/logo.png") no-repeat scroll 0 0 transparent;
	font:30px/2.2 "lucida grande",arial,helvetica,sans-serif;
	height:55px;
	text-indent:-99999px;
}

#login {
	text-align: right;
}

.body, #sidebar {
	padding: 10px 0;
}

#sidebar .item {
	background: #F2F2F2;
	border: 1px solid #ccc;
	padding: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#sidebar h3 {
	font-size: 13px;
	margin: 0 0 10px;
	border-bottom: 1px solid #ccc;
}
#sidebar ul {
	margin:0;
	padding:0;
}
#sidebar li {
	line-height:22px;
	list-style-type:none;
	margin-left: 10px;
}
#sidebar li li {
	background:url("../images/cat-join.gif") no-repeat scroll left center transparent;
	padding:0 4px 5px 25px;
	margin: 0;
}

ul.articles {
	list-style:none outside none;
	margin:0;
	padding:0;
}
ul.articles li {
	background:url("../images/page_white.png") no-repeat scroll 0 1.6px transparent;
	line-height:18px;
	margin:0;
	padding:0 0 5px 20px;
}

.glossary_terms td {
	margin: 0;
	padding: 0;
}
.glossary_terms a {
	padding: 5px;
	background: #ebebeb;
	border: 1px solid #ccc;
}
dt {
	font-weight: bold;
}
dd {
	margin-left: 10px;
}

.info {
	font-size:10px;
	padding:15px 15px 30px 0;
}
.info p {
	color:#28313A;
	line-height:normal;
	margin:0;
	padding-top:15px;
}
.cat_table {
	border-bottom: 1px solid #ccc;
}
.cat_table td {
	padding: 5px;
}
.footer {
	border-top: 1px solid #ccc;
	padding: 10px 0;
}
.footer p {
	text-align: center;
	font-size: 10px;
}

/* @group Forms */

.input, textarea {
	background-image: url(images/form_bg.jpg);
	background-repeat: repeat-x;
	border: 1px solid #ccc;
	color: #333333;
	font-size: 11px;
	margin-right: 4px;
	padding: 5px;
	width: 400px;
}

.input {
	background-image: url(images/form_bg.jpg);
	background-repeat: repeat-x;
	border: 1px solid #ccc;
	color: #333333;
	font-size: 11px;
	margin-right: 4px;
	padding: 5px;
}

#form h2 {
	background: url(images/th.jpg) repeat-x;
	color: #FFF;
	font-weight: bold;
	border-bottom: 1px solid #D6D5D6;
	text-indent: 5px;
	padding: 5px;
	font-size: 108%;
	text-align: left;
}

#form .fieldgrp {
	margin-bottom: 0.5em;
	width: 100%;
}

#form .field {
	float: left;
	font-size: 95%;
	width: 380px;
}

#form .field input {
	border: 2px solid #CCCCCC;
	margin: 0px;
}

#form .field textarea {
	border: 2px solid #CCCCCC;
	margin: 0 0 0px;
}

#form input {
	border: 2px solid #CCCCCC;
	margin: 0 0 5px;
	padding: 2px;
}

#form textarea {
	border: 2px solid #CCCCCC;
	margin: 0 0 10px;
}

#form select {
	border: 2px solid #CCCCCC;
	margin: 0 0 10px;
	padding: 1px;
}

#form label.top {
	display: block;
}

#form label {
	color: #333333;
	font-size: 102%;
	font-weight: bold;
	line-height: 22px;
	padding: 0 10px 0 0;
	text-align: right;
}

#form label.onehpx {
	width: 120px;
}

#form input.error {
	background-color: #DEEFFF;
	color: #000000;
	border: 1px solid #EA5200;
}
label {
	font-weight:bold;
}

label.error {
	background: url("../images/cross.png") no-repeat 0px 0px;
	padding-left: 18px;
	padding-bottom: 2px;
	font-weight: bold;
	color: #EA5200;
	float: none;
	display: inline;
}

#form label.checked {
	background: url("../images/check.png") no-repeat 0px 0px;
	float: none;
	display: inline;
}
fieldset {
	background-color:#FAFAFA;
	border:1px solid #CCCCCC;
	margin-bottom:6px;
	padding:4px;
}
fieldset legend {
	color:#2B2B2B;
	font-size:12pt;
	font-weight:bold;
	padding:0.1em 0.3em;
}

.continue input {
	float: right;
	border: 3px double #999;
	border-left-color: #ccc;
	border-top-color: #ccc;
	color: #333;
	padding: 0.25em;
}

.submit input {
	border: 3px double #999;
	border-left-color: #ccc;
	border-top-color: #ccc;
	color: #333;
	padding: 0.25em;
}

fieldset p {
	clear: both;
	padding: 0px;
	margin: 0px;
}

fieldset p label {
	float: left;
}
td {
	vertical-align: top;
	padding: 5px 10px;
}
td.formleft, td.formright {
	border-bottom:1px solid #D7D7D7;
	color:#888888;
	padding:5px;
}
/* @end */

/* @group Pagination */

.pagination {
	background-color: #fff;
	color: #333333;
	padding: 5px;
	margin-top: 10px;
}

.pagination .dimmed {
	background-color: #eee;
	border: 1px solid #aaa;
	color: #111;
	padding: 3px 6px 3px 6px;
	font-weight: bold;
}

.pagination .pages {
	float: right;
}

.pagination a {
	background-color: #fff;
	border: 1px solid #ddd;
	color: #111;
	padding: 3px 6px 3px 6px;
}

/* @end */

/* ---------------------- Blueslate nav ---------------------- */
.blue #slatenav{position:relative;display:block;height:42px;font-size:11px;font-weight:bold;background:transparent url(../images/blueslate_background.gif) repeat-x top left;font-family:Arial,Verdana,Helvitica,sans-serif;text-transform:uppercase;}
.blue #slatenav ul{margin:0px;padding:0;list-style-type:none;width:auto;}
.blue #slatenav ul li{display:block;float:left;margin:0 1px 0 0;}
.blue #slatenav ul li a{display:block;float:left;color:#D5F1FF;text-decoration:none;padding:14px 22px 0 22px;height:28px;}
.blue #slatenav ul li a:hover,.blue #slatenav ul li a.current{color:#fff;background:transparent url(../images/blueslate_backgroundOVER.gif) no-repeat top center;}
/* ---------------------- END Blueslate nav ---------------------- */

/* ---------------------- Greenslate nav ---------------------- */
.green #slatenav{position:relative;display:block;height:42px;font-size:11px;font-weight:bold;background:transparent url(../images/greenslate_background.gif) repeat-x top left;font-family:Arial,Verdana,Helvitica,sans-serif;text-transform:uppercase;}
.green #slatenav ul{margin:0px;padding:0;list-style-type:none;width:auto;}
.green #slatenav ul li{display:block;float:left;margin:0 1px 0 0;}
.green #slatenav ul li a{display:block;float:left;color:#EEFFDF;text-decoration:none;padding:14px 22px 0 22px;height:28px;}
.green #slatenav ul li a:hover,.green #slatenav ul li a.current{color:#fff;background:transparent url(../images/greenslate_backgroundOVER.gif) no-repeat top center;}
/* ---------------------- END Greenslate nav ---------------------- */

/* ---------------------- Redslate nav ---------------------- */
.red #slatenav{position:relative;display:block;height:42px;font-size:11px;font-weight:bold;background:transparent url(../images/redslate_background.gif) repeat-x top left;font-family:Arial,Verdana,Helvitica,sans-serif;text-transform:uppercase;}
.red #slatenav ul{margin:0px;padding:0;list-style-type:none;width:auto;}
.red #slatenav ul li{display:block;float:left;margin:0 1px 0 0;}
.red #slatenav ul li a{display:block;float:left;color:#FECCC3;text-decoration:none;padding:14px 22px 0 22px;height:28px;}
.red #slatenav ul li a:hover,.red #slatenav ul li a.current{color:#fff;background:transparent url(../images/redslate_backgroundOVER.gif) no-repeat top center;}
/* ---------------------- END Redslate nav ---------------------- */

/* ---------------------- Purpleslate nav ---------------------- */
.purple #slatenav{position:relative;display:block;height:42px;font-size:11px;font-weight:bold;background:transparent url(../images/purpleslate_background.gif) repeat-x top left;font-family:Arial,Verdana,Helvitica,sans-serif;text-transform:uppercase;}
.purple #slatenav ul{margin:0px;padding:0;list-style-type:none;width:auto;}
.purple #slatenav ul li{display:block;float:left;margin:0 1px 0 0;}
.purple #slatenav ul li a{display:block;float:left;color:#FBDAFA;text-decoration:none;padding:14px 22px 0 22px;height:28px;}
.purple #slatenav ul li a:hover,.purple #slatenav ul li a.current{color:#fff;background:transparent url(../images/purpleslate_backgroundOVER.gif) no-repeat top center;}
/* ---------------------- END Purpleslate nav ---------------------- */